
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    background-image: url('https://th.bing.com/th/id/R.2053e0d910bb9f2594ce2482e96070ec?rik=KT%2bdRhsR1vzURQ&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f05%2fCoffee-wallpaper-backgrounds-hd.jpg&ehk=nM5ykWo1rrz6W9YG9Dj%2f7VQXAbfXTMVlYb9buln7zUs%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover; 
    background-position: center; 
    padding-right: 500px;
}

.form-box {
    width: 400px; 
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #f9f9f9; */
  }

.form-box h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-box div {
    margin-bottom: 15px;
}

.form-box label {
    
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #6c6565;
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 14px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-box button {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.form-box button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
